<%- include ../layouts/cabecera.ejs %> 
<br>
<br>
<br>
<h2>Catalogo Productos</h2>

<div class="row mx-5">
<br>
  <% for( let producto = 0; producto < productos.length; producto++ ) { %>

     <div class="col">
      
    <div class="card" style="width:18rem">
      <img src="/images/<%=productos[producto].imagen %>" class="card-img-top" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%=productos[producto].nombre %></h5>
        <p class="card-text">Categoria: <%=productos[producto].categoria %></p>
        <p class="card-text"><%=productos[producto].descripcion %></p>
        <p class="card-text">$<%=productos[producto].precio %></p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>

  </div>

  
  <% } %>
</div>
  <br>

<%- include ../layouts/pie.ejs %>   