<%- include ../layouts/cabecera.ejs %> 
<br/>
<br/>
<br/>
<br/>
<form method="post" action="../actualizar/" enctype="multipart/form-data">


<input type="text " name="id" value="<%= product.id %> ">


    <div class="form-group">
        <label for="my-input">Nombre: </label>
        <input id="my-input" value="<%= product.nombre %>" class="form-control" type="text" name="nombre">
    </div>


    <div class="form-group">
        <label for="my-input">Categoria: </label>
        <input id="my-input" value="<%= product.categoria %>" class="form-control" type="text" name="categoria">
    </div>

    <div class="form-group">
        <label for="my-input">Precio: </label>
        <input id="my-input" value="<%= product.precio %>" class="form-control" type="number" name="precio">
    </div>

    <div class="form-group">
        <label for="my-input">Stock: </label>
        <input id="my-input" value="<%= product.stock %>" class="form-control" type="number" name="stock">
    </div>

    <div class="form-group">
        <label for="my-input">Descripcion: </label>
        <input id="my-input" value="<%= product.descripcion %>" class="form-control" type="text" name="descripcion">
    </div>

    <div class="form-group">
        <label for="my-input">Imagen: </label>
        <img class="img-thumbnail" src="/images/<%= product.imagen %>" width="100" alt="">
        <input id="my-input" class="form-control" type="file" name="imagen">
    </div>
    
    
    <button class="btn btn-primary" type="submit">Guardar</button>
</form>
<%- include ../layouts/pie.ejs %>   