<%- include ../layouts/cabecera.ejs %> 
        <br/>
        <br/>
        <br/>
        <br/>
        <h2>Gestion de Productos</h2>
        <br/>
        <a href="/products/crear" class="btn btn-primary" type="button">Crear un nuevo producto</a>
        <a href="/products/catalogo" class="btn btn-success" type="button">Catalogo</a>
        <a href="/products/seguimiento" class="btn btn-success" type="button">Seguimiento Envios</a>
        <br/>
        <br/>
        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Categoria</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Descripcion</th>
                    <th>Imagen</th>
                    <th>Acciones</th>

                </tr>
            </thead>
            <tbody>
                <% for( let product = 0; product < products.length; product++ ) { %>
                    <tr>
                        <td> <%=products[product].id %>  </td>
                        <td> <%=products[product].nombre %></td>
                        <td> <%=products[product].categoria %></td>
                        <td> <%=products[product].precio %></td>
                        <td> <%=products[product].stock %></td>
                        <td> <%=products[product].descripcion %></td>
                        <td> 
                            <img class="img-thumbnail" width="100" src="/images/<%=products[product].imagen %>" alt="">
                           
                        </td>
                        <td> 
                            
                            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                <form class="form-inline" method="post" action="/products/eliminar/<%=products[product].id %>">
                                    <button class="btn btn-danger" type="submit">Eliminar</button>
                                </form>
                            </div>
                            |
                            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                <form class="form-inline" method="post" action="/products/editar/<%=products[product].id %>">
                                    <button class="btn btn-warning" type="submit">Editar</button>
                                </form>
                            </div>
                        
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <br/>
        <br/>
        <br/>
       
        <%- include ../layouts/pie.ejs %>   